@import '../../../styles/ketrzyn/colors.module.scss';

/*add rwd*/
.menuItem_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 320px;
}

.category_name_btn {
	animation: rotateBack 0.2s 1 alternate;
}

.category_name_btn_active {
	transform: rotate(45deg);
	animation: rotateButton 0.2s 1 alternate;
}

ul.list {
	//animation: showItems 0.75s 1 alternate;
	width: 100%;
	margin: 0 0 1em;
}

.category {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	background: none;
	border: none;
	width: 100%;
	padding: 0;
	width: 100%;
}

.category button {
	border: none;
	background: transparent;
	cursor: pointer;
}

.category_name {
	color: $navy;
	font-size: 1.8em;
	font-size: 1.5em;
	margin-bottom: 1em;
	font-weight: 400;
}

.item {
	margin: 0 auto 1em;
	list-style: none;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.item_title {
	font-size: 16px;
	color: $navy;
	font-family: 'Montserrat';
	font-weight: 600;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 0.2em;
}

.item_title p {
	margin: 0;
}

.item_title_name {
	flex-basis: 75%;
	font-weight: 600;
}

.item_desc {
	font-size: 16px;
	color: $navy;
	opacity: 0.7;
	margin: 0;
	font-weight: 600;
}

@media (min-width: 568px) {
	.menuItem_wrapper {
		width: 500px;
	}
}

@media (min-width: 768px) {
	.menuItem_wrapper {
		width: 680px;
	}
}

@media (min-width: 996) {
	.menuItem_wrapper {
		width: 750px;
	}
}

@keyframes rotateButton {
	from {
		transform: rotate(0);
	}

	to {
		transform: rotate(45deg);
	}
}

@keyframes rotateBack {
	from {
		transform: rotate(45deg);
	}

	to {
		transform: rotate(0);
	}
}

@keyframes showItems {
	from {
		transform: scaleY(0) translateY(-100%);
		transform-origin: top;
		opacity: 0;
		z-index: -10;
	}

	to {
		transform: scaleY(1) translateY(0);
		z-index: 0;
		opacity: 1;
	}
}
