@import '../../../styles/olsztyn/colors.module.scss';

.button_top {
	position: fixed;
	right: 0;
	bottom: 0;
	color: $white;
	background-color: $black;
	padding: 0.5em;
	border: none;
	cursor: pointer;
	border-top-left-radius: 8px;
	animation: ShowItem 0.5s 1 alternate both;
}

@media (min-width: 768px) {
	.button_top {
		right: 1em;
		bottom: 1em;
		border-radius: 8px;
	}
}

@keyframes ShowItem {
	from {
		transform: translateY(100%);
		opacity: 0;
	}

	to {
		transform: translate(0);
		opacity: 1;
	}
}
