@import '../../../styles/olsztyn/colors.module.scss';
@import '../../../styles/olsztyn/mixins.module.scss';
@import '../../../styles/colors.module.scss';

.events_wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $navy;
	width: 100%;
	padding: 5em 0;
	overflow: hidden;
}

.events_content {
	width: 100%;
	height: 100%;
	max-width: 1200px;
	min-width: 340px;
	padding: 0 0.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.events_left {
	position: relative;
	min-height: 300px;
	order: 1;
	width: 80%;
}

.events_left img {
	object-fit: cover;
	border-radius: 4px;
}

.events_right {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	order: 2;
}

.events_right_header {
	@include section-header($white);
	margin-top: 1em;
}

.events_right_desc {
	@include section-content($white);
	opacity: 0.8;
	padding: 0 3em;
	margin-bottom: 2em;
}

.events_right_link {
	@include section-link($navy, $white);
}

.events_right_link2 {
	@include section-cta($white, $navy);
	/* 	color: white; // col;
	font-weight: 300;
	border: 1px solid;
	font-size: 1.2em;
	text-transform: uppercase;
	padding: 0.6em 1.2em;
	position: relative;
	background-color: $navy;
	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border: 2px solid $gold;
		transform: translate(0, 0);
		transition: transform 0.2s;
		z-index: -10;
	}

	&:hover::before {
		transform: translate(5px, 5px);
	} */
}

@media (min-width: 768px) {
	.events_content {
		flex-direction: row;
		justify-content: center;
	}

	.events_right {
		text-align: left;
		flex-basis: 40%;
		order: 2;
		align-items: start;
	}

	.events_right_desc {
		padding: 0;
	}

	.events_right_header {
		margin-top: 0;
	}

	.events_left {
		flex-basis: 40%;
		order: 1;
		min-height: 400px;
		margin-right: 4em;
	}
}
