@import '../../../styles/ketrzyn/colors.module.scss';
@import '../../../styles/ketrzyn/mixins.module.scss';

.menu_wrapper {
	@include section-styles;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.menu_header {
	@include section-header($gray);
	text-align: center;
}

.greetings h3,
.greetings h4 {
	font-family: 'Dancing Script', cursive;
}

.greetings h3 {
	font-size: 4em;
	color: $navy;
	//
	text-align: center;
	margin-bottom: 0.5em;
}

.greetings h4 {
	font-size: 2.5em;
	margin: 0;
	color: $navy;
	//
	text-align: center;
}

@media (min-width: 768px) {
	.greetings h3 {
		margin-bottom: 0;
	}

	.greetings h4 {
		text-align: right;
	}
}
