@import '../../../styles/ketrzyn/colors.module.scss';
@import '../../../styles/ketrzyn/mixins.module.scss';

.menu_header {
	@include section-header($gray);
	text-align: center;
}

.category {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: none;
	border: none;
	width: 100%;
	cursor: pointer;
	padding: 0;
	min-width: 340px;
	max-width: 800px;
	width: 100%;
}

.category_name {
	color: $navy;
	font-size: 1.8em;
	font-size: 1.7em;
	font-weight: 500;
	margin-bottom: 1em;
	font-weight: 600;
}

.course {
	display: flex;
	flex-direction: column;
	margin-bottom: 1.5em;
	font-size: 1.1em;
}

.course_top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.1em;
	color: $navy;
}

.course_top_info {
	font-weight: 500;
	margin: 0;
}

.course_bottom_desc {
	color: $gray;
	font-weight: 500;
	margin: 0;
	width: 90%;
}
