@import '../../styles/colors.module.scss';

h1.title__header {
	font-family: 'Alatsi', sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-size: 3em;
	text-align: center;
	color: $brown;
}
