@import '../../styles/ketrzyn/colors.module.scss';
@import '../../styles/colors.module.scss';
.layout_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	min-width: 340px;
	margin: 0 auto;
	overflow-x: hidden;
	background-color: $white;
	position: relative;
}

* {
	overflow-anchor: none;
}
