@import '../styles/colors.module.scss';

.wrapper {
	width: 100%;
}

.cards__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.cards__wrapper a:focus {
	outline-color: $gray;
	outline-style: dotted;
}

@media (min-width: 768px) {
	.wrapper {
		padding-top: 7em;
	}
}
