.layout_wrapper {
	margin: 0 auto;
	min-width: 340px;
	width: 100%;
	min-height: 100vh;
	position: relative;
	overflow: hidden;
}

.layout_content {
	display: flex;
	flex-direction: column;
	min-height: 80vh;
	align-items: center;
}
