@import '../../../styles/ketrzyn/colors.module.scss';

.header_wrapper {
	height: 100%;
	width: 100%;
	min-height: 500px;
	background-image: url('../../../public/ketrzyn/hero.jpeg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	z-index: 10;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}
.header_shadow {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}

.header_contact {
	border-bottom: 1px solid $whiteBorder;
	padding: 1em;
	display: flex;
	justify-content: center;
	width: 100%;
}

.header_contact_content {
	width: 100%;
	max-width: 1440px;
	display: flex;
	justify-content: flex-end;
}

.contact_data {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

.contact_data a {
	color: $white;
	font-weight: 300;
	font-size: 0.9em;

	&:hover {
		text-decoration: underline;
	}
	&:last-child {
		margin-left: 2em;
	}
}

.header_nav {
	width: 100%;
	display: flex;
	justify-content: center;
	position: relative;
	transition: background-color 0.2s;
}

.header_nav_active {
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	transition: background-color 0.2s;
	padding: 0.25em 1em;
	box-shadow: 4px 2px 22px rgba(0, 0, 0, 0.2);
	.nav_desktop a {
		color: $navy;
	}

	.header_logo {
		//transform: scale(1);
		opacity: 1;
	}
}

.header_content {
	width: 100%;
	max-width: 1440px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_logo {
	position: relative;
	height: 65px;
	width: 65px;

	padding: 0.5em;
	//transform: scale(0);
	//transition: transform 0.25s;
	opacity: 0;
	transition: opacity 0.2s;
}

.nav_mobile {
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-top: 1px solid $gold;
	border-bottom: 1px solid $gold;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.95);
	padding: 1.5em 0;
	transform: scaleY(0);
	transform-origin: top;
	opacity: 0;
	transition: transform 0.25s, opacity 0.4s;
}

.nav_mobile a,
.nav_desktop a {
	color: $white;
	text-transform: uppercase;
	&:not(:last-child) {
		margin-right: 1em;
	}
}

.nav_mobile a {
	margin: 1.2em 0;
	font-size: 1.2em;
}

.nav_hamburger {
	border: none;
	background-color: transparent;
	color: $gold;
	z-index: 10;
	padding: 1.5em 0;
}

.nav_desktop {
	padding: 2em 0;
	display: none;
}

.nav_desktop a {
	transition: color 0.25s;
	margin: 0 1em;
	&:hover {
		color: $gold;
	}
}

.header_shadow {
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.75);
	z-index: -2;
}

.header_hero {
	position: absolute;
	left: 50%;
	width: 90%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}

.header_hero h1,
.header_hero h2 {
	color: $white;
	text-align: center;
	margin: 0;
}

h1.header_hero__kardamon {
	font-family: 'Alatsi', sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-size: 3em; //
	margin-bottom: 0.2em;
}

.header_hero h2 {
	font-size: 1.5em;
	font-weight: 300;
	margin-bottom: 0.1em;
}

@media (min-width: 768px) {
	.header_wrapper {
		min-height: 700px;
	}

	.contact_data {
		justify-content: flex-end;
		padding-right: 1em;
	}

	.nav_hamburger,
	.nav_mobile {
		display: none;
	}

	.nav_desktop {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
}

@media (min-width: 1440px) {
	.nav_desktop {
		padding-right: 0;
	}
}
