// Kętrzyn:
$whiteBorder: rgba(249, 249, 249, 0.3);
//$white: #f9f9f9;
$navy: #232832;
$gray: rgba(34, 40, 50, 0.4);
$gold: #d5a021;

// Olsztyn:
$black: #211c1e;
//$white: #f9f4f5;
$gray: #58595f;
$borderBlack: rgba(0, 0, 0, 0.1);

//
$cream: rgba(255, 245, 235, 0.4);
$brown: #6c5a55;
