@import './colors.module.scss';

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth !important;
}

a {
	text-decoration: none;
	padding: 0.25em;
}
