@mixin section-container {
	max-width: 1200px;
	min-width: 340px;
	display: flex;
	justify-content: center;
	padding: 0 1em;
	margin: 2em 0;

	@media (min-width: 768px) {
		margin: 5em 0;
	}
}

@mixin section-header($col) {
	font-size: 2em;
	font-family: 'Merriweather';
	color: $col;
	margin-top: 2em;
	margin-bottom: 0;
	font-weight: 500;

	@media (min-width: 768px) {
		margin-top: 0;
		margin-bottom: 0.5em;
	}
}

@mixin section-content($col) {
	font-size: 1.2em;
	color: $col;
	font-family: 'Montserrat', sans-serif;
}

@mixin img-shadow {
	box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.25);
}

@mixin section-cta($col) {
	color: $col;
	font-weight: 400;
	font-size: 1.5em;
	text-transform: uppercase;
	padding: 0.15em 0.7em 0;
	position: relative;
	border: none;

	&::before {
		content: '';
		position: absolute;
		right: 0;
		bottom: 10%;
		height: 40%;
		width: 100%;
		transform: scaleX(0.1);
		transform-origin: right;
		background-color: $gold;
		z-index: -10;
		transition: transform 0.45s ease-out;
	}

	&:hover::before {
		transform: scaleX(1);
	}
}
