@mixin section-container {
	max-width: 1200px;
	min-width: 340px;
	display: flex;
	justify-content: center;
	padding: 0 1em;
	margin: 2em 0;

	@media (min-width: 768px) {
		margin: 5em 0;
	}
}

@mixin section-header($col) {
	font-size: 2em;
	font-family: 'Merriweather';
	color: $col;
	margin-top: 2em;
	margin-bottom: 0;
	font-weight: 500;

	@media (min-width: 768px) {
		margin-top: 0;
		margin-bottom: 0.5em;
	}
}

@mixin section-content($col) {
	font-size: 1.2em;
	color: $col;
	font-family: 'Montserrat', sans-serif;
}

@mixin img-shadow {
	box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.25);
}

@mixin section-cta($col, $bg) {
	color: $col;
	font-weight: 400;
	border: 1px solid;
	font-size: 1.2em;
	text-transform: uppercase;
	padding: 0.6em 1.2em;
	position: relative;
	background-color: $bg;
	border: 2px solid $gold;

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border: 2px solid $gold;
		transform: translate(0, 0);
		transition: transform 0.2s, opacity 0.1s;
		box-sizing: border-box;
		opacity: 0;
		z-index: -10;
		transform: translate(0, 0);
	}

	&:hover {
		background-color: $gold;
		color: $white;
	}

	&:hover::before {
		transform: translate(8px, 8px);
		opacity: 1;
	}
}
